{% extends "base.html" %}

{% block title %}
    Search a Game
{% endblock title %}

{% block main %}
<div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Platform</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        {% for game in object_list%}
        <tr class="hover">
          <th class=>{{game.id}}</th>
          <td>{{game.name}}</td>
          <td>{{game.platform}}</td>
          <td>Playing</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock main %}