{% extends "base.html" %}

{% block title %}
    Search a Game
{% endblock title %}

{% block main %}
    <div class="grid grid-cols-1 p-6 gap-4 w-screen place-content-start place-items-center">
            <input type="text"
                    placeholder="Search for games"
                    class="input input-bordered w-full max-w-xs" 
                    name="q"
                    hx-get="{% url 'game-search' %}"
                    hx-target="#results"
                    hx-trigger="input delay:0.2s"
                    />
            <button class="btn btn-secondary bg-green-500 w-full max-w-xs" type="submit">Search</button>
            <div id="results" class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 w-full place-items-center mb-32">
                {% include 'results.html' %}
            </div>
    </div>
{% endblock main %}
